@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
        background-color: #9b9b9b;
        font-family: 'Noto Sans', sans-serif;
        color: #242424;
    }

    @font-face {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 300;
        src: url('fonts/NotoSans-Light.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/NotoSans-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 200;
        src: url('/fonts/NotoSans-ExtraLight.ttf') format('truetype');
    }
}

h2 {
    font-size: 1.5rem; /* 24px */
    font-weight: 200; /* Extra Light */
    color: #242424;
}



.text {
    font-size: 1.125rem; /* 18px */
    line-height: 1.5;
}

.subtitle {
    font-size: 1.25rem; /* 20px */
    font-weight: 300; /* Light */
}

.prevent-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           supported by Chrome and Opera */
}
